.layout-container {
    background-color: var(--amplify-colors-background-tertiary);
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.page-container {
    padding: var(--space-xl);
    padding-left: var(--space-xl);
    padding-top: calc(50px + var(--space-lg));
    transition: padding 0.5s;
    overflow-x: hidden;
}

@media (max-width: 1024px) {
  .page-container {
    padding: var(--space-lg);
    padding-left: var(--space-lg);
    padding-top: calc(50px + var(--space-md));
  }
}