.header {
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 50px;
  width: 100%;
  max-width: 1000px;
}

.header > .amplify-flex {
  width: 100%;
}

@media (max-width: 1024px) {
  .header {
    padding: 0 var(--space-md);
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.header-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-avatar {
  width: 34px;
  height: 34px;
  font-size: var(--font-size-sm);
  border-radius: 50%;
  overflow: hidden;
}
.header-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-logo {
  width: 30px;
  height: 22px;
  display: flex;
  align-items: center;
}
.header-logo img {
  height: 100%;
  width: auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.header-left .logo-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-md);
  color: var(--amplify-colors-font-primary);
}

.header-search-bar {
  padding: var(--space-xs) var(--space-sm);
}