.auth-logo {
  max-width: 250px;  /* maximum width for larger screens */
  width: 100%;       /* allow the logo to shrink on smaller screens */
  height: auto;      /* maintain the aspect ratio */
  margin-bottom: 1rem; /* adds some space between the logo and the form */
  max-height: 25vh;
}

.read-the-docs {
  color: #888;
}