/* Global styles */
body {
  margin: 0;
  padding: 0;
  background: var(--amplify-colors-background-tertiary);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}